@import "tailwindcss";
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  ::-webkit-calendar-picker-indicator {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }
}

@layer utilities {
  .grid-box {
    @apply w-[100vw] h-[100vw] grid aspect-square grid-cols-5 md:grid-cols-10 xl:grid-cols-20 gap-0 auto-rows-[20vw] md:auto-rows-[10vw] xl:auto-rows-[5vw] overflow-hidden;
  }

  .render-box {
    @apply aspect-square row-span-1 col-span-1 p-5 overflow-visible;
  }

  .name {
    @apply text-9xl font-bold tracking-tight text-gray-900;
  }

  .tags {
    @apply flex flex-row flex-wrap gap-3 max-w-[50vw];
  }

  .introduction {
    @apply max-w-[70vw] text-lg leading-relaxed text-gray-600;
  }

  .social {
    @apply flex flex-row gap-4;
  }

  .resume {
    @apply w-[50vw] flex flex-col gap-6;
  }

  .resume-title {
    @apply text-lg font-bold text-gray-800;
  }

  .resume-date {
    @apply text-sm text-gray-500 tracking-wide;
  }

  .draggable {
    @apply aspect-square row-span-1 col-span-1  border-4 p-5 rounded border-dotted border-blue-500 overflow-visible;
  }

  .editor-button {
    @apply text-gray-500 hover:text-black transition-colors duration-200 w-fit h-fit flex items-center justify-center;
  }
}
