@import "tailwindcss";
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  ::-webkit-calendar-picker-indicator {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }
}
